.cart{
    margin: 40px 0;
}

.cart-header{
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 9px 16px;
    font-weight: 400;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 398px 190px 130px 130px 300px;
    -webkit-box-align: center;
    text-align: center;
    border: 0px solid;
}
.label{
    margin-left: 10px;
    
}
.cart-header , .cart-item {
    cursor: pointer;
}
.cart-item{
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 9px 16px;
    font-weight: 400;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 398px 210px 110px 130px 300px;
    -webkit-box-align: center;
    text-align: center;
    border: 0px solid;
    align-items: center;
    margin-bottom: 10px;
}
.cart-item label {
    display: flex;
    align-items: center;
}
.pd-label{
    padding-left: 125px;
}
.img-cart{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
.total-price-cart{
    background: #fff;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-buy{
    color: #cf3364;
    font-size: 14px;
    border: 1px solid #cf3364;
    font-weight: 600;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.span-total{
    color: #cf3364;
    margin-right: 40px;
}
.btn-delete{
    padding: 10px;
    border-radius: 7px;
    margin-right: 30px;
}