.product_main{
    display: flex;
    gap: 20px;
    background: #fff;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 20px;
    border-radius: 7px;
}
.img-product{
    width: 245.500px;
    height: 245.500px;
}

