* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

body {
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  background: #fff4f4;
}

.container {
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
}

.title-product {
  font-size: 2rem;
}

main {
  background: #fff4f4;
}

.product-content {
  text-align: center;
  padding: 4rem;
}

.img-product {
  border-radius: 20px;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.product-item {
  text-align: left;
}

.product-item-text {
  margin-left: 20px;
}

.title-item {
  font-size: 1.2rem;
  font-family: "Montserrat-Black";
  color: #cf3364;
  max-width: 214px;
}

.price {
  font-size: 1.2rem;
  font-family: "Montserrat-Black";
  margin: 30px 0;
  color: #000;
}
.btn_cart.btn-add{
  background: #fff;
  color: #cf3364;
  border: 1px solid #cf3364;
  margin-right: 10px;
}
.btn_cart{
  color: #fff;
  background-color:#cf3364 ;
  padding: 20px;
  margin-top: 40px;
  border:none;
  cursor: pointer;
}
.handle{
  padding: 7px 11px;
  border: 1px solid #f8d0d3;
  background-color: #fff;
}
.text-content{
  color: #cf3364;
}
.fa-circle-check{
  color: #cf3364;
  font-size: 1rem;
  margin-right: 20px;
}
.flex-wrap{
  flex-wrap: wrap;
}